body{
    background-color: #161616;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48vw;
}

@media (max-width: 428px) {
  .container {
      height: 235vw;
  }

  .container svg{
    max-width: 50%;
  }
}

@media (max-width: 810px) {
  .container {
      height: 185vw;
  }

  .container svg{
    max-width: 50%;
  }
}
